<!-- myapp/templates/myapp/display_data.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Submitted Data</title>
</head>
<body>
    <h1>Submitted Data</h1>
    <table>
        <thead>
            <tr>
                <th>Pizza Type</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.pizza_type }}</td>
                    <td>{{ contact.message }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Form for cleanup button -->
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="cleanup">Cleanup DB</button>
    </form>
</body>
</html>
